*{
    margin: 0;
    padding: 0;
}
.body{
    /*ffss*/
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;

}
.hero{
    background-image: url(Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right ;
    padding: 530px 0 130px ;
    color: white;
    }
.hero-title{
    font-size: 48px;
    line-height: 59px;
}
.hero-subtitle{
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 22px;}

.hero-slogan{
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px;
    padding-right: 31px;
}

 .hero-slogan-input{
     padding-top: 38px;
     padding-bottom: 38px;
     padding-left: 31px;
     padding-right: 31px;
     color: #F48E0B;
     border-right: 1px solid;
     display: inline-block;
 }
.navigation{
    padding: 22px;
    border-bottom: 3px solid;
    color: #F1B128;
    display: flex;
    justify-content: space-between;

}
 .navigation-title{
    color: #F1B128;
    font-size: 28px;
    /* display: inline-block; */
   /*  margin-right: 261px; */
}
.navigation-menu{
    /* display: inline-block; */
    list-style: none;
    display: flex;
    align-items: center;

}
.navigation-menu-item{
  /*   display: inline-block; */
    margin-left: 65px;
    color: black;
}
.navigation-menu-item-link {
    text-transform: uppercase;
    text-decoration: none;  
    color: black; 
}
.info{
    display: flex;
    background-color: grey;
    justify-content: space-between;

}
.info-media{
    width: calc(100%/ 2 - 5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 /*    align-items: ; */
    row-gap: 30px;
}
.info-media-img{
    position: relative;
}
.info-media-img:first-child::before,
.info-media-img:nth-child(2)::before,
.info-media-img:nth-child(3)::before,
.info-media-img:nth-child(4)::before
{
    content:'consalting';
    position: absolute;
    font-size: 14px;
    top: 95px;
    left: 15px;
    color: white;
    display: inline-block;
    background: #333;
    padding: 14px 33px 14px 17px;
}
.info-media-img:nth-child(2)::before{
    content:'Photography';
}

.info-media-img:nth-child(3)::before{
    content:'Web Design';
}
.info-media-img:nth-child(4)::before{
    content:'Advertising';
}
.info-desc{
    width: calc(100%/ 2 - 5px);

}
.info-desc-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.info-desc-text{
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 36px;
}
.info-desc-link{
    text-decoration: none;
    background: #f1ad1d;
    color: white;
    font-size: 14px;
    padding: 19px 27px;
}
.tabs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    width: 1170px;
    margin: 20px auto;
    

}
.tabs-item{
    position: relative;
    overflow: hidden;
}

.tabs-item img {
    width: 100%;
}
.tabs-item:hover .tabs-item-hover {
    top: 0;

}


.tabs-item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    top: -1000px;
    left: 0;
    transition: all 0.5s;
}
.psevdo{
    text-align: center;
    margin-bottom: 500px;
    margin-top: 97px;
    }
.psevdo-title{
    font-weight: bold;
    font-size: 22px;
    color: #333;
    text-transform: uppercase;
    position: relative;
}
.psevdo-subtitle{
    font-size: 17px;
    margin-top: 28px;
    color: #4d4943;
}
.psevdo-title::before{
    width: 60px;
    height: 3px;
    background: linear-gradient(odeg, #f1ad1d, #f1ad1d) #F48E0B;
    content:"";
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%)
}

.yellow-text {
    color: #f1b128;
}