*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: sans-serif; 
}
.container{
    width: 1280px; 
    margin: 0 auto; 
}
.main-title{
    font-size: 80px;
    line-height: 94px;
    margin-left: 25px;
    margin-bottom: 25px;      
}   
.title-link{
    text-decoration: none;
    color: black;
    display: table-cell;
}
.title-part{
    color: lightskyblue;
}
.navigation-menu{
    list-style: none;
    background-color: #35444F;
    display: flex; 
    justify-content: center;
    margin-bottom: 67px;
}
.navigation-item-link{
    font-size: 24px;
    line-height: 28px; 
    padding: 23px 38px;
    border-left: 1px solid white;
    display: inline-block;
    text-decoration: none;  
    color: white;
}
.navigation-item-link:hover{
    background-color: #222F3A;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 304px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid lightskyblue;
    height: 399px;
}
.sidebar-item{
    text-decoration: none;
    font-size: 27px;
    color: #495863;
    padding-left: 44px ;
    padding-top: 35px;   
}
.sidebar-item:hover{
    background:#DBDBDB;
    color: #35444F;
}
.frame{
    width: 885px;
    border: 1px solid black;
    height: 529px;   
}
.ram-img-pic{
    padding-top: 75px;
    padding-left:  297px;
    margin-bottom: 110px;
    transition: 0.5s;
}
.ram-img-pic:hover{
    transform: scale(1.2);
}
.text-one,
.text-two{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align: left;
    margin-bottom: 34px;  
}
.footer-menu {
    display: flex; 
    gap: 40px;
    padding: 40px 15px;
    background: rgba(99, 105, 110, 0.48);
    list-style: none;       
}
.footer-menu-link{
    text-decoration: none;
    color: #0C1927; 
    font-size: 28px; 
}
.footer-menu-link:hover{
    color: lightskyblue;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}
.last-child{
    margin-left: auto;
    font-size: 24px;
    color: #010101;
}