*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px; 
    margin:auto;
    text-transform: uppercase; 
    font-family: sans-serif; 
    text-align: center; 
}
.menu {
    font-weight: bold;
    padding-top: 25px;     
}
.menu-item {
    margin-left: 72px;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
}
.main-img{
    padding-top: 25px;
} 
.main-header{
    padding-top: 25px;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    color: #373737;
    width: 1280px;
}
.text-main, 
.text-last {
    width: 1145px;
    margin: 35px 0px 18px 66px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;   
}
.btn {
    margin-top: 88px;
    padding:12px 15px;
    background-color: #FF0000;   
    }
.btn-text{
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.info {
    padding-top: 82px;
    padding-bottom: 29px;
    margin-left: 713px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    
}