*{
    margin: 0;
    padding: 0;
}
body{
    /*ffss*/
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;}

.posts{
    display: flex;
    flex-wrap: wrap;

}
.posts-item {
    border-bottom: 5px solid #333;
    padding-bottom: 5px;
}
.posts-item-img img {
    width: 100%;
}
.posts-item-header{
    display:flex;
    align-items: center;
    margin-top: 7px;

}
.item-header-img{
    padding: 12px;
    background-color: #333;
    margin-right: 8px;

}
.item-header-title{
    font-size: 18px;
    line-height: 22px;
    color: #333;
    font-weight: bold;
}
.posts-item-text{
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    border-bottom: ;
}
