.flex {
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}
.flex-item{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 5px;
    font-size: 40px;
}