body{
    background-color: gray;
}
.info{
    display: flex;
    column-gap: 20px;
    width: 1280px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
}
.info-item{
    position: relative;
    display: flex;
	flex-direction: column;
	align-items: flex-start;
    
}
.info-item::before{
    content: "";
    height: 4px;
    width: 72px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    position: absolute ;
    top: 198px;
    left: 0;
}
.info-item-title{
    font-size: 36px;
    font-weight: bold;
    padding: 22px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    color: black;
    border-radius: 6px;
    margin-bottom: 26px;

}
.info-item-subtitle{
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-bottom: 51px;
}
.info-item-text{
    line-height: 28px;
}
.main-title {
	font-weight: bold;
	font-size: 200px;
	text-align: center;
	margin-bottom: 500px;
	letter-spacing: 0.2px;
	color: transparent;
	background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
	-webkit-background-clip: text;
}