*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: sans-serif;
}
.container{
    width: 1280px; 
    margin: 0 auto; 
}
.header-section{
    display: inline-flex;
    background: #313131;
    text-transform: uppercase;
    width: 100%;
}
.logo{
    margin: 22px 27px;
}
.title-link{
    text-decoration: none;
    margin-top: 10px;
    margin-right: 290px;
}
.main-title{
    font-size: 22px;
    color: white;
}
.navigation {
    display: flex;
}
.navigation-menu{
    display: flex;
    justify-content: space-between;     
    list-style: none; 
    margin: 26px 26px;
}
.navigation-menu-link{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: white;
    margin-right: 35px;
    transition: 0,5s;
}
.navigation-menu-link:hover{
    color: #14B9D5
}
.search{
    width: 17px;
    height: 17px;
    margin: 25px 25px;
}
.last-child{
    margin-left: auto;
}
.top{
    background-image: url(../photo/Seattle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 194px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
}
.top-title{
    font-size: 27px;
    color: white;
    text-align: center;
    margin-top: 164px;
}
.btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    margin-top: 60px;
}
.left{
    background-color:  #89CA62;
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding: 16px 19px;
    border-radius: 5px;
}
.right{
    background-color:  #14B9D5;
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding: 16px 19px;
    border-radius: 5px; 
}
.posts{
    background-color: #F2F2F2;
}
.posts-title{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
}
.post-pic{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    gap: 30px 25px;
    margin-top: 52px;
    padding-bottom: 72px;
}
.post-pic-title{
    font-weight: bold;
    font-size: 18px;
}
.clients{
    background-image: url(../photo/Entrance.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 106px;
    padding-bottom: 191px;
}
.clients-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    padding-top: 106px;
    position: relative;
}
.clients-title::before{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    content: "";
    display: inline-block;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}
.clients-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 200px;
}
.rated-title {
    padding-bottom: 52px;
}
.rated-title,
.news-title{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
}
.rated-pic{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}
.news-item{
    display: grid;
    justify-items: right;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 44px;
    grid-template-areas: 
    "prophecy prophecy prophecy nebula"
    "western western grand grand"
    "Wanderlust Wanderlust twin twin"
    "prism kings kings kings";
}
.prophecy{
    grid-area: prophecy;
    display: flex;
}
.news-item-list{
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.mid{
    width: 615px;
}
.news-item-title{
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding-top: 12px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.first,
.last{
    padding-top: 30px;
    padding-right: 15px;
    margin-bottom: 50px;
}
.news-item-text-first,
.news-item-text-last{
    padding-bottom: 37px;
    padding-right: 15px;
}
.news-item-text{
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    width: 615px;
    padding-right: 15px;
}
.nebula{
    grid-area: nebula;
    padding-top: 12px;
    text-align: center;
}
.nebula-title{ 
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}
.western{
    grid-area: western;
    text-align: right;
}
.grand{
    grid-area: grand;
    text-align: right;
}
.Wanderlust{
    grid-area: Wanderlust;
    text-align: right;
}
.twin{
    grid-area: twin;
    text-align: right;
}
.prism{
    grid-area: prism;
    padding-top: 12px;
    text-align: center;
}
.kings{
    grid-area: kings;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy{
    background-color: black ;
    align-items: center;
    height: 80px;
}
.copy-text{
    color:white;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1190px 40px 50px;
    padding-top: 30px;
}
.mark{
    text-transform: uppercase;
    color:white;
    font-size: 16px;
    font-weight: bolder;
}