body{
    background-image: url(../picture/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    width: 1036px;
    margin: 50px auto;
}
.header{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    overflow: hidden; 
}
.header:hover .header-logo-hover, header:hover .header-title, header:hover .header-title-part{
    color: #F26522;;
    top: 0px;
}
.header-logo-hover{
    position: absolute;
    top:-100%; 
}
.title{
    text-transform: uppercase;
    margin-top: 3px; 
    margin-left: 8px;     
}

.header-title{
    text-decoration: none;
    font-size: 29px;
    color: #fff;
}
.header-title-part{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
}
.contacts-link{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-bottom: 19px;
}
.contacts-link-tel{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-left: auto;
}
.contacts:hover .contacts-link,.contacts:hover .contacts-link-tel{
    color: #F26522 ;
}
.main{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
}
.main-link{
    text-decoration: none;
}
.main-activ{
    position: relative;
    overflow: hidden;
}
.main-activ:hover > .main-hover, .main-activ:hover  .main-title{
    color: #F26522 ;
    bottom: 41px;
}
.main-hover{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F26522;
    width: 100%;
    height: 25%;
    bottom: -100%;
    left: 0;
}
.main-hover-text{
    font-size: 10px;
    color: #fff;
    margin-top: 7px;
    margin-left: 16px;
    margin-bottom: 8px;
}
.main-hover-price{
    font-size: 20px;
    color: #fff;
    margin-left: 16px;
}
.main-hover-link{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-right: 37px;
}
.main-title{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top:20px;
}
.footer{
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 49px;
}



